{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta chrset="UTF-8">
	<title>{% block head_title %} {% endblock %} | TuMarchanta</title>
	{% include 'base_css.html' %}
	<h1 class="LKFJHKJGHSDKJf"></h1>
<style>
	{% block style %}

	{% endblock %}
	</style>

</head>

<body>
<section>

	<img src="{%static 'img/tuma1.png' %}",class="img-responsive margen_arriba_abajo" style="position:relative;left:10;top10;width: 36%;"alt="responsive image">
	<hr color="blue" size=10>
	{% block content %}
	{% endblock %}
</section>
	{% include 'base_js.html' %}
</body>
</html>
